<div fxLayout="row">
    <div class="membership-box" fxFlex>
      <p><mat-icon>people</mat-icon> Skill | Wissen | Motivation: </p>

      <div *ngIf="!skillEditMode">
        <mat-chip-list>
          <mat-chip *ngFor="let userSkill of userSkills">
            {{ userSkill.skilltag_set[0].name }} | {{ userSkill.knowledge_level | germanKnowledgeMotivationOptions }} |
            {{ userSkill.motivation_level | germanKnowledgeMotivationOptions }}
          </mat-chip>
        </mat-chip-list>
        <button mat-icon-button *ngIf="isMyProfilePage"
                (click)="skillEditMode = !skillEditMode"
                >
                <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngIf="skillEditMode" fxLayout="column">
        <form [formGroup]="skillForm" (ngSubmit)="onSubmit()" [class.was-validated]="formValidated">
          <div *ngFor="let userSkill of skillForm.controls; index as i" [formGroupName]="i" fxLayout="row" fxLayoutGap="1rem">

            <mat-form-field>
              <input matInput formControlName="skillName"
                     type="text" id="skillName" placeholder="Enter skill" name="skillName" [value]="userSkill.value.skillName"
                     [matAutocomplete]="auto" required maxlength="20"
                    (keyup)="skillNameChanged(userSkill.get('skillName')?.value)"
                     >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Wissen</mat-label>
              <mat-select formControlName="skillKnowledge" required>
                <mat-option *ngFor="let knowledgeOption of knowledgeOptions" [value]="knowledgeOption">
                {{ knowledgeOption | germanKnowledgeMotivationOptions }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Motivation</mat-label>
              <mat-select formControlName="skillMotivation" required>
                <mat-option *ngFor="let motivationOption of motivationOptions" [value]="motivationOption">
                {{ motivationOption | germanKnowledgeMotivationOptions }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="deleteSkill(i)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of skillsFiltered | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-icon-button color="primary" (click)="addSkill()">
              <mat-icon>add_circle</mat-icon>
            </button>
            <div>
              <button mat-flat-button color="primary" [disabled]="skillForm.pristine">Abschicken</button>
              <button mat-flat-button (click)="resetFormValues()">Abbrechen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  <div *ngIf="errorMessage !== undefined" class="error-message">
    {{ errorMessage }}
  </div>
</div>
