.membership-box {
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.membership-box a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

.skill-entry {
  border-style: dotted;
  border-radius: 5px;
  padding: 2px;
  background-color: #e1ffff;
  overflow: auto;
  display:inline-block;
  /*width: 100%;*/
}

button {
  margin-right: 10px;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.skill-chip {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: large;
}

.row {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: large;
}
