<div fxLayout="column" fxLayoutGap="2rem">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between baseline">
    <h2>Projekte</h2>
    <mat-slide-toggle (change)="changeDeactivatedProjectsFilter($event)">Abgeschlossene Projekte anzeigen</mat-slide-toggle>
  </div>
    <app-orga-filtered-list *ngIf="projects" [type]="'project'" [orgas]="projects"></app-orga-filtered-list>
</div>
