<div fxLayout="row">
    <div class="membership-box" fxFlex>
      <p><mat-icon>people</mat-icon> Verfügbarkeit: </p>
      <div *ngIf="!editMode" fxLayout="column">
        <table mat-table [dataSource]="userAvailabilities" fxFlex>
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>Verfügbar von</th>
            <td mat-cell *matCellDef="let userAvailability"> {{ userAvailability.available_from | date:'longDate' }} </td>
          </ng-container>
          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>Verfügbar bis</th>
            <td mat-cell *matCellDef="let userAvailability"> {{ userAvailability.available_to | date:'longDate' }} </td>
          </ng-container>
          <ng-container matColumnDef="working_hours_day">
            <th mat-header-cell *matHeaderCellDef>Arbeitsstunden/Tag</th>
            <td mat-cell *matCellDef="let userAvailability">{{ userAvailability.working_hours_day }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button mat-icon-button
              *ngIf="isMyProfilePage"
              (click)="editMode = !editMode"
              aria-label="Bearbeiten">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div *ngIf="editMode" fxLayout="column">
        <p class="hint">Hinweis: Zeitliche Überlappungen werden automatisch nach dem Speichern aufgelöst.</p>
        <form [formGroup]="availabilityForm" (ngSubmit)="onSubmit()" [class.was-validated]="formValidated">
          <div *ngFor="let availability of availabilityForm.controls; index as i"
                            [formGroupName]="i"
                            fxLayout="row" fxLayoutGap="1rem">

        <mat-form-field>
            <input matInput formControlName="available_from" [matDatepicker]="pickerFrom" type="text"
                   id="available_from" placeholder="Verfügbar von"
                   name="available_from">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="available_to" matInput [matDatepicker]="pickerTo" type="text"
                   id="available_to" placeholder="Verfügbar bis"
                   name="available_to">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Arbeitsstunden/Tag</mat-label>
          <mat-select  formControlName="working_hours_day" required>
                  <mat-option *ngFor="let workingHoursOption of workingHoursOptions"
                          [value]="workingHoursOption">{{ workingHoursOption }}</mat-option>
          </mat-select>
          </mat-form-field>
          <button mat-icon-button (click)="deleteAvailability(i)">
            <mat-icon color="warn">remove_circle</mat-icon>
          </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-icon-button color="primary" (click)="addAvailability()">
              <mat-icon>add_circle</mat-icon>
            </button>
            <div>
              <button mat-flat-button color="primary" [disabled]="availabilityForm.pristine">Abschicken</button>
              <button mat-flat-button (click)="resetFormValues()">Abbrechen</button>
            </div>
          </div>

        </form>
      </div>
  <div *ngIf="errorMessage !== undefined" class="error-message">
    {{ errorMessage }}
  </div>
</div>
