.membership-box {
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.membership-box a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

button {
  margin-right: 10px;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: large;
}

.hint {
  font-size: 0.85rem;
  color: #555;
}
