<mat-toolbar color="primary" class="navigation-bar">
  <button fxShow.xs fxHide mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cockpit</span>
    <div fxLayout="row-reverse" fxFlex>
      <button mat-button [matMenuTriggerFor]="menu">{{ user.username }} <mat-icon>expand_more</mat-icon></button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/app/users/', user.username]">Profil bearbeiten</a>
        <mat-divider></mat-divider>
        <a mat-menu-item (click)="logout()">Abmelden</a>
      </mat-menu>
    </div>
</mat-toolbar>
