<!--text input widget-->
<div fxLayout="row" fxLayoutAlign="start center" *ngIf="editMode[control] && type=='text'" [formGroup]="formGroup">
  <mat-form-field appearance="standard">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <input matInput type="text" [formControlName]="control">
  </mat-form-field>
  <button mat-icon-button aria-label="Cancel" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button aria-label="Save" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</div>

<!--textarea input widget-->
<div fxLayout="column" fxLayoutAlign="start start" *ngIf="editMode[control] && type=='textarea'" [formGroup]="formGroup">
  <mat-form-field appearance="standard">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <textarea matInput type="text" [formControlName]="control"></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="start start">
    <button mat-icon-button aria-label="Cancel" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button aria-label="Save" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>

<!--checkbox input widget-->
<div *ngIf="editMode[control] && type=='checkbox'" [formGroup]="formGroup" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
  <mat-checkbox [formControlName]="control">{{ label }}</mat-checkbox>
  <button mat-icon-button aria-label="Cancel" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button aria-label="Save" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</div>

<!--dropdown input widget-->
<div *ngIf="editMode[control] && type=='dropdown'" fxLayout="row" fxLayoutAlign="start center" [formGroup]="formGroup">
  <mat-form-field>
    <mat-select [placeholder]="label" [formControlName]="control">
        <mat-option *ngFor="let dropDownOption of dropDownOptions" [value]="dropDownOption">{{ dropDownOption }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button aria-label="Cancel" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button aria-label="Save" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</div>

<!--password input widget-->
<div *ngIf="editMode[control] && type === 'password'">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControlName]="control">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wiederholung</mat-label>
      <input matInput type="password" formControlName="{{ control }}2">
    </mat-form-field>
  </form>
  <button mat-icon-button (click)="cancel()" aria-label="Abbrechen">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button (click)="save()" aria-label="Speichern">
    <mat-icon>save</mat-icon>
  </button>
</div>

<!--tag input widget-->
<div *ngIf="editMode[control] && type=='tag-input'">
  <mat-form-field fxFlex>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tiNgModel"
                                 selectable="true"
                                 removable="true"
                                 (removed)="tiRemove(tag)"
        >
        {{ tag.display }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    <input placeholder="Mitglied hinzufügen.."
           #tagInput
           [formControl]="tiCtrl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           matChipInputAddOnBlur="true"
           >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tiSelected($event)">
      <mat-option *ngFor="let tag of tiFilteredAutocompleteItems | async" [value]="tag.value">
        {{tag.display}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button (click)="cancel()" aria-label="Speichern">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button (click)="save()" aria-label="Speichern">
    <mat-icon>save</mat-icon>
  </button>
</div>

<!--delete button widget-->
<div *ngIf="type=='delete'">
  <button mat-flat-button *ngIf="!dbConfirmMessage" (click)="dbConfirmMessage = true" type="button" color="warn" aria-label="Löschen">
    <mat-icon>delete</mat-icon> Löschen
  </button>
  <div *ngIf="dbConfirmMessage">
    Möchtest du {{ label }} wirklich löschen?<br>
    <button mat-flat-button color="warn" (click)="save()" type="button" aria-label="Löschen">
      <mat-icon>delete</mat-icon> Löschen
    </button>
    <button mat-flat-button (click)="dbConfirmMessage = false" type="button" aria-label="Löschen">
      <mat-icon>cancel</mat-icon> Abbrechen
    </button>
  </div>
</div>

<!-- date widget -->
<div fxLayout="row" fxLayoutAlign="start center" *ngIf="editMode[control] && type=='date'" [formGroup]="formGroup">
  <mat-form-field appearance="standard">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <input matInput type="text" [formControlName]="control" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button aria-label="Cancel" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button aria-label="Save" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</div>
