<div fxLayout="column" fxLayoutGap="1rem" fxFlex>
  <div fxLayout="row">
    <h2 *ngIf="!editMode.name" class="list-group-item-heading">{{ legalOrga.name }} <button mat-icon-button
        *ngIf="isAdmin" (click)="editMode.name = !editMode.name">
        <mat-icon>edit</mat-icon>
      </button>
    </h2>
    <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)" [control]="'name'"
      [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Name'"></lib-std-form-control>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
    <div fxFlex.xs="100" fxFlex.gt-xs="50">
      <div *ngIf="!editMode.description" class="list-group-item-text"><i>{{ legalOrga.description }}</i> <button
          mat-icon-button *ngIf="isAdmin" (click)="editMode.description = !editMode.description">
          <mat-icon>edit</mat-icon>
        </button></div>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
        [control]="'description'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'textarea'"
        [label]="'Beschreibung:'"></lib-std-form-control>
    </div>
    <div fxFlex.xs="100" fxFlex.gt-xs="50">
      <div class="contact-box">
        <p><b>Kontakt:</b></p>
        <p *ngIf="!editMode.email" class="contact-entry"> Email: <a href="mailto:{{ legalOrga.email }}">{{
        legalOrga.email }}</a> <button mat-icon-button *ngIf="isAdmin" (click)="editMode.email = !editMode.email">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'email'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Email:'">
        </lib-std-form-control>
        <p *ngIf="!editMode.phone" class="contact-entry">Telefon: {{ legalOrga.phone }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.phone = !editMode.phone">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'phone'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Telefon:'">
        </lib-std-form-control>
        <p *ngIf="!editMode.fax" class="contact-entry">Fax: {{ legalOrga.fax }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.fax = !editMode.fax">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'fax'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Fax:'">
        </lib-std-form-control>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
    <div fxFlex.xs="100" fxFlex.gt-xs="50">
      <div class="membership-box">
        <p>
          <mat-icon>people</mat-icon> Mitglieder:
        </p>
        <p *ngIf="!editMode.members">
          <span *ngFor="let user of members">
            <a [routerLink]="['/app/users', user.username]" class="member-entry">{{ user.username }}</a>
            <span style="font-size: x-large">&nbsp;</span>
          </span> <button mat-icon-button *ngIf="isAdmin" (click)="editMode.members = !editMode.members">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'members'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'tag-input'"
          [tiNgModel]="tagInputMembers" (tiNgModelChangeEvent)="setTagInputMembers($event)"
          [tiAutocompleteItems]="tagInputItems"></lib-std-form-control>
      </div>
    </div>
    <div fxFlex.xs="100" fxFlex.gt-xs="50">
      <div class="contact-box">
        <p><b>Admin:</b></p>
        <p *ngIf="!editMode.orga_admin"><a [routerLink]="['/app/users', admin.username]" class="contact-entry">{{
        admin.username }}</a> <button mat-icon-button *ngIf="isAdmin"
            (click)="editMode.orga_admin = !editMode.orga_admin">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'orga_admin'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'tag-input'"
          [tiNgModel]="tagInputAdmin" (tiNgModelChangeEvent)="setTagInputAdmin($event)"
          [tiAutocompleteItems]="tagInputItems" [tiMaxItems]="1"></lib-std-form-control>
        <lib-std-form-control *ngIf="isAdmin" [editMode]="editMode" [type]="'delete'" [label]="this.legalOrga.name"
          [control]="'delete'" (saveEvent)="deleteLegalOrga()"></lib-std-form-control>
      </div>
      <div class="contact-box">
        <p><b>Anschrift:</b></p>

        <p *ngIf="!editMode.name" class="contact-entry">{{ legalOrga.name }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.name = !editMode.name">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'name'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Name:'">
        </lib-std-form-control>

        <p *ngIf="!editMode.street" class="contact-entry">{{ legalOrga.street }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.street = !editMode.street">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'street'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Straße:'">
        </lib-std-form-control>
        <p *ngIf="!editMode.plz" class="contact-entry">{{ legalOrga.plz }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.plz = !editMode.plz">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'plz'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'"
          [label]="'Postleitzahl:'"></lib-std-form-control>

        <p *ngIf="!editMode.city" class="contact-entry">{{ legalOrga.city }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.city = !editMode.city">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'city'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'Ort:'">
        </lib-std-form-control>
      </div>

      <div class="contact-box">
        <p><b>Rechtliche Informationen:</b></p>

        <p *ngIf="!editMode.legal_form" class="contact-entry">Rechtsform: {{ legalOrga.legal_form }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.legal_form = !editMode.legal_form">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'legal_form'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'dropdown'"
          [label]="'Rechtsform:'" [dropDownOptions]="this.legalOrgaForms"></lib-std-form-control>

        <p *ngIf="!editMode.tax_id" class="contact-entry">Steuernummer: {{ legalOrga.tax_id }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.tax_id = !editMode.tax_id">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'tax_id'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'"
          [label]="'Steuernummer:'"></lib-std-form-control>

        <p *ngIf="!editMode.ust_id" class="contact-entry">Umsatzsteuernummer: {{ legalOrga.ust_id }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.ust_id = !editMode.ust_id">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'ust_id'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'"
          [label]="'Umsatzsteuernummer:'"></lib-std-form-control>
      </div>

      <div class="contact-box">
        <p><b>Konto:</b></p>
        <p *ngIf="!editMode.iban" class="contact-entry">IBAN: {{ legalOrga.iban }}
          <button mat-icon-button *ngIf="isAdmin" (click)="editMode.iban = !editMode.iban">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'iban'" [(formGroup)]="legalOrgaForm" [editMode]="editMode" [type]="'text'" [label]="'IBAN:'">
        </lib-std-form-control>
      </div>
    </div>
  </div>
</div>
