<app-exception-notice></app-exception-notice>
<div fxLayout="column" class="login" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <h2>Please Login</h2>
  <form fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <mat-label>E-Mail Address</mat-label>
      <input matInput #username type="text" name="email" id="email" placeholder="you@example.com" required autofocus>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput #password type="password" name="password" id="password" placeholder="Password" required>
    </mat-form-field>
    <mat-checkbox name="remember" type="checkbox">
      Remember me
    </mat-checkbox>
    <button mat-flat-button (click)="login(username.value, password.value)" type="submit" color="primary">Login</button>
    <a mat-button href="/password/reset">Forgot Your Password?</a>
  </form>
</div>
