<div fxLayout="column">
  <div fxLayout="column">
    <h2>Suche nach Skills und/oder Verfügbarkeit von User*innen</h2>
    <form #skillLookupForm="ngForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column">
        <mat-form-field fxFlexFill>
          <mat-label>Skill</mat-label>
          <input
            matInput
            type="text"
            id="skillName"
            placeholder="Skill eingeben"
            [(ngModel)]="skillName"
            #name="ngModel"
            name="skillName"
          />
        </mat-form-field>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="pickerFrom"
              type="text"
              id="fromDate"
              placeholder="Verfügbar von"
              [(ngModel)]="fromDate"
              name="fromDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFrom"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="pickerTo"
              type="text"
              id="toDate"
              placeholder="Verfügbar bis"
              [(ngModel)]="toDate"
              name="toDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerTo"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between"
          fxLayoutGap="1rem"
        >
          <button mat-flat-button type="button" (click)="resetFormValues()">
            Formular zurücksetzen
          </button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!skillLookupForm.form.valid"
          >
            Abschicken
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="skillSearched && !availabilitySearched" fxLayout="column">
    <h2>Skills:</h2>
    <div *ngFor="let skill of groupedSkills" class="search-entry">
      <h3>{{ skill.name }}</h3>
      <table mat-table [dataSource]="skill.users" *ngIf="skill.users">
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let user">
            <a [routerLink]="['/app/users', user.user_name]">{{
              user.user_name
            }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="knowledge_level">
          <th mat-header-cell *matHeaderCellDef>Wissen</th>
          <td mat-cell *matCellDef="let user">
            {{ user.knowledge_level | germanKnowledgeMotivationOptions }}
          </td>
        </ng-container>

        <ng-container matColumnDef="motivation_level">
          <th mat-header-cell *matHeaderCellDef>Motivation</th>
          <td mat-cell *matCellDef="let user">
            {{ user.motivation_level | germanKnowledgeMotivationOptions }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="skillColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: skillColumnsToDisplay"></tr>
      </table>
    </div>
  </div>

  <div *ngIf="skillSearched && availabilitySearched">
    <h2>Skills und Verfügbarkeit</h2>

    <div
      *ngFor="let skillAvailability of groupedSkillsAndAvailabilities"
      class="search-entry"
    >
      <h3>{{ skillAvailability.skill.name }}</h3>

      <h4>Akkumulierte Verfügbarkeiten:</h4>

      <div fxLayout="row wrap" fxLayoutGap="1rem">
        <div
          *ngFor="let day of skillAvailability.availabilities | keyvalue"
          class="day"
          [class.day--empty]="
            day.value.working_hours_day_sum === null
          "
          [class.day--lte2]="
            day.value.working_hours_day_sum <= 2 &&
            day.value.working_hours_day_sum !== null
          "
          [class.day--lt6]="
            day.value.working_hours_day_sum < 6 &&
            day.value.working_hours_day_sum > 2
          "
          [class.day--gte6]="day.value.working_hours_day_sum >= 6"
          fxLayout="column"
          fxLayoutGap="1rem"
          fxLayoutAlign="center center"
        >
          <div *ngIf="day.value.working_hours_day_sum">
            {{ day.value.working_hours_day_sum }}h
          </div>
          <div>
            {{ day.key | date }}
          </div>
          <div>
            <p *ngFor="let user of day.value.users">
              <ng-container *ngIf="user.working_hours_day">
                {{ user.user.user_name }}: {{ user.working_hours_day }}h
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h3>Übersicht über die gefundenen Personen:</h3>

    <div
      *ngFor="let skillAvailability of groupedSkillsAndAvailabilities"
      class="search-entry"
    >
      <h3>{{ skillAvailability.skill.name }}</h3>
      <div fxLayout="column" fxLayoutGap="1rem">
        <mat-card *ngFor="let user of skillAvailability.skill.users">
          <mat-card-title
            ><a [routerLink]="['/app/users', user.user_name]">{{
              user.user_name
            }}</a></mat-card-title
          >
          <mat-card-subtitle
            ><b>Wissen: </b
            >{{ user.knowledge_level | germanKnowledgeMotivationOptions }},
            <br /><b>Motivation: </b
            >{{
              user.motivation_level | germanKnowledgeMotivationOptions
            }}</mat-card-subtitle
          >
          <mat-card-content>
            <div *ngFor="let user2 of groupedAvailabilities">
              <div *ngIf="user2.user === user.user_url" fxLayout="row wrap" fxLayoutGap="1rem">
                <div
                  *ngFor="
                    let day of user2.days
                  "
                  class="day"
                  [class.day--empty]="
                    !day.working_hours_day
                  "
                  [class.day--lte2]="
                    day.working_hours_day <= 2 &&
                    day.working_hours_day
                  "
                  [class.day--lt6]="
                    day.working_hours_day < 6 &&
                    day.working_hours_day > 2
                  "
                  [class.day--gte6]="day.working_hours_day >= 6"
                  fxLayout="column"
                  fxLayoutGap="1rem"
                  fxLayoutAlign="center center"
                >
                  <div>
                    {{ day.day | date }}<br />
                    {{ day.working_hours_day }}
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngIf="errorMessage !== undefined" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
