.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.form-container form {
  margin-bottom: 20px;
}

.form-container form > * {
  margin: 5px 0;
}

.skill-wrapper {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
  margin: 4px;
}

table {
  width: 100%;
}

th {
  width: 30%;
}

.search-entry {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: large;
}

.day {
  padding: 1rem;
  margin-top: 1rem;

  &--empty {
    background-color: gray;
  }

  &--lte2 {
    background-color: red;
  }

  &--lt6 {
    background-color: yellow;
  }

  &--gte6 {
    background-color: green;
  }
}

mat-card-title {
  a {
    color: rgba(0,0,0,.87);
  }
}
