.main{
  margin-top: 85px;
}

.content {
  margin: 0 2rem 0 2rem;
}
@media (min-width: 768px) {
  .container{
    width: 450px;
    margin-left: 315px;
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 670px;
    margin-left: 315px;
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 878px;
    margin-left: 315px;
    margin-top: 60px;
  }
}

/*Overall app definitions*/

:host ::ng-deep a.list-group-item {
  color: #212529;
}
