<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <div fxLayout="row" fxFlex class="main">
      <app-sidebar fxFlex="20" fxShow.gt-xs fxHide></app-sidebar>
      <div class="content" fxLayout="column" fxFlex.gt-xs="80" fxFlex.xs="100">
        <app-exception-notice></app-exception-notice>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
