.membership-box {
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.membership-box a {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

.collective-entry {
  border-style: dotted;
  border-radius: 5px;
  padding: 2px;
  background-color: #e1ffff;
  overflow: auto;
  display:inline-block;
  /*width: 100%;*/
}
