  <div fxLayout="column" fxLayoutGap="1rem">
<form [formGroup]="userForm" novalidate>
    <div fxLayout="column">
      <h2>{{ user?.username }}s Profil:</h2>
      <p *ngIf="!editMode.short_intro">
        <i>{{ user?.unstructured_info?.short_intro }}</i> <button mat-icon-button *ngIf="isMe"
                                                                (click)="editMode.short_intro = !editMode.short_intro"
                                                                  ><mat-icon>edit</mat-icon></button>
      </p>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                            [control]="'short_intro'" [(formGroup)]="userForm" [editMode]="editMode"
                            [type]="'textarea'" [label]="'Kurzvorstellung:'"></lib-std-form-control>
    </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <h3>Kontakt:</h3>
      <dl>
        <dt class="contact-entry"> Email:</dt>
        <dd *ngIf="!editMode.email"><a href="mailto:{{ user?.email }}">{{ user?.email }}</a> <button mat-icon-button
          *ngIf="isMe" (click)="editMode.email = !editMode.email"
                                       ><mat-icon>edit</mat-icon></button></dd>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'email'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        <div *ngIf="isMe || user.phone_office">
          <dt class="contact-entry"> Arbeit:</dt>
          <dd *ngIf="!editMode.phone_office">{{ user?.phone_office }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.phone_office = !editMode.phone_office"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'phone_office'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        </div>
        <div *ngIf="isMe || user.phone_mobile">
          <dt class="contact-entry"> Mobil:</dt>
          <dd *ngIf="!editMode.phone_mobile">{{ user?.phone_mobile }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.phone_mobile = !editMode.phone_mobile"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
          <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'phone_mobile'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        </div>
        <div *ngIf="isMe || user.phone_land">
          <dt class="contact-entry"> Festnetz:</dt>
          <dd *ngIf="!editMode.phone_land">{{ user?.phone_land }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.phone_land = !editMode.phone_land"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
          <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'phone_land'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        </div>
        <div *ngIf="isMe || user.jabber">
          <dt class="contact-entry"> Jabber:</dt>
          <dd *ngIf="!editMode.jabber">{{ user?.jabber }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.jabber = !editMode.jabber"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
          <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'jabber'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        </div>
      </dl>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <h3>Anschrift:</h3>
      <p *ngIf="!editMode.first_name && !editMode.last_name">
        {{ user?.first_name }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.first_name = !editMode.first_name"
                                                                            ><mat-icon>edit</mat-icon></button>
        {{ user?.last_name }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.last_name = !editMode.last_name"
                                                                            ><mat-icon>edit</mat-icon></button>
      </p>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'first_name'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'" [label]="'Vorname'"></lib-std-form-control>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'last_name'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'" [label]="'Nachname'"></lib-std-form-control>
      <p>
        <span *ngIf="!editMode.street">{{ user?.street }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.street = !editMode.street"
                                                                            ><mat-icon>edit</mat-icon></button><br></span>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'street'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        <span *ngIf="!editMode.plz && !editMode.city">
          {{ user?.plz }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.plz = !editMode.plz"
                                                                            ><mat-icon>edit</mat-icon></button>
          {{ user?.city }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.city = !editMode.city"
                                                                            ><mat-icon>edit</mat-icon></button></span>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'plz'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'" [label]="'Postleitzahl'"></lib-std-form-control>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'city'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'" [label]="'Stadt'"></lib-std-form-control>
      </p>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <h3>Rechnungsdaten:</h3>
      <p *ngIf="user?.is_freelancer && !editMode.is_freelancer">{{ user?.first_name }} ist Freelancer oder hat ein Gewerbe. <mat-icon>check</mat-icon> <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.is_freelancer = !editMode.is_freelancer"
                                                                            ><mat-icon>edit</mat-icon></button></p>
      <p *ngIf="!user?.is_freelancer && !editMode.is_freelancer">{{ user?.first_name }} ist kein Freelancer und hat auch kein Gewerbe. <mat-icon>warning</mat-icon> <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.is_freelancer = !editMode.is_freelancer"
                                                                            ><mat-icon>edit</mat-icon></button></p>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'is_freelancer'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'checkbox'" [label]="'Freelancer'"></lib-std-form-control>
      <dl>
        <dt class="contact-entry"> IBAN:</dt>
        <dd *ngIf="!editMode.iban">{{ user?.iban }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.iban = !editMode.iban"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'iban'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        <div *ngIf="(isMe && user.is_freelancer) || user?.tax_id">
          <dt class="contact-entry"> Steuernummer:</dt>
          <dd *ngIf="!editMode.tax_id">{{ user?.tax_id }} <button mat-icon-button *ngIf="isMe"
                                                                            (click)="editMode.tax_id = !editMode.tax_id"
                                                                            ><mat-icon>edit</mat-icon></button></dd>
          <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'tax_id'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'text'"></lib-std-form-control>
        </div>
      </dl>
    </div>
  </div>
  <div *ngIf="isMe">
      <button mat-flat-button color="warn" *ngIf="!editMode.password" (click)="editMode.password = !editMode.password">Passwort ändern</button>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
                              [control]="'password'" [(formGroup)]="userForm" [editMode]="editMode"
                              [type]="'password'"></lib-std-form-control>
  </div>
  <div fxLayout="row">
      <h3>Mitgliedschaften:</h3>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <div class="membership-box">
        <p><mat-icon>people</mat-icon> Kollektive: </p>
        <p>
          <span *ngFor="let collective of getCollectives()">
          <a class="collective-entry">{{ collective.name }}</a>
          <span style="font-size: x-large">&nbsp;</span>
          </span>
        </p>
      </div>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <div class="membership-box">
        <p><mat-icon>people</mat-icon> Rechtsformen: </p>
        <p>
          <span *ngFor="let legalOrga of getLegalOrgas()">
          <a class="collective-entry">{{ legalOrga.name }}</a>
          <span style="font-size: x-large">&nbsp;</span>
          </span>
        </p>
      </div>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="33" fxLayout="column">
      <div class="membership-box">
        <p><mat-icon>people</mat-icon> Projekte: </p>
        <p>
          <span *ngFor="let project of getProjects()">
          <a class="collective-entry">{{ project.name }}</a>
          <span style="font-size: x-large">&nbsp;</span>
          </span>
        </p>
      </div>
    </div>
  </div>
</form>
<app-plugin-slot name="profile"></app-plugin-slot>
  </div>
