<div fxLayout="column">
  <h2>Leute</h2>
  <div fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
      <input matInput #searchBox (input)="searchChanged(searchBox.value)" placeholder="Suche">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-user-entry *ngFor="let user of users$ | async" [user]="user"
      [collectives]="collectives" [projects]="projects" [legalOrgas]="legalOrgas"></app-user-entry>
  </div>
</div>
