<a [routerLink]="[user.username]" class="user-entry">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="list-group-item-heading">{{ user.username }}</mat-card-title>
      <mat-card-subtitle class="list-group-item-text"><i>{{ user.unstructured_info?.short_intro }}</i></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="user-entry__content">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
          <div fxLayout="column" fxFlex="66" fxFlexOrder.xs="2">
            <p><b>Mitgliedschaften</b></p>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
              <div class="membership-box" fxFlex>
                <p><i class="fa fa-users fa-lg"></i> Kollektive: </p>
                <p>
                  <span *ngFor="let collective of getCollectives()">
                    <a class="collective-entry" [routerLink]="['/app', 'collective', collective.name]">{{ collective.name }}</a>
                    <span style="font-size: x-large">&nbsp;</span>
                  </span>
                </p>
              </div>
              <div class="membership-box" fxFlex>
                <p><i class="fa fa-users fa-lg"></i> Rechtsformen: </p>
                <p>
                  <span *ngFor="let legalOrga of getLegalOrgas()">
                    <a class="collective-entry" [routerLink]="['/app', 'legal-orga', legalOrga.name]">{{ legalOrga.name }}</a>
                    <span style="font-size: x-large">&nbsp;</span>
                  </span>
                </p>
              </div>
              <div class="membership-box" fxFlex>
                <p><i class="fa fa-users fa-lg"></i> Projekte: </p>
                <p>
                  <span *ngFor="let project of getProjects()">
                    <a class="collective-entry" [routerLink]="['/app', 'project', project.name]">{{ project.name }}</a>
                    <span style="font-size: x-large">&nbsp;</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="33" class="contact-box" fxFlexOrder.xs="1">
            <p><b>Kontakt</b></p>
            <div fxLayout="row" fxLayoutAlign="space-between start" class="contact-entry">
              <span>Email:</span>
              <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
            <div *ngIf="user.phone_office" fxLayout="row" fxLayoutAlign="space-between start" class="contact-entry">
              <span>Arbeit:</span>
              <span>
                {{ user.phone_office }}
              </span>
            </div>
            <div *ngIf="user.phone_mobile" fxLayout="row" fxLayoutAlign="space-between start" class="contact-entry">
              <span>Mobil:</span>
              <span>
                {{ user.phone_mobile }}
              </span>
            </div>
            <div *ngIf="user.phone_land" fxLayout="row" fxLayoutAlign="space-between start" class="contact-entry">
              <span>Festnetz:</span>
              <span>{{ user.phone_land }}</span>
            </div>
            <div *ngIf="user.jabber" fxLayout="row" fxLayoutAlign="space-between start" class="contact-entry">
              <span>Jabber:</span>
              <span>{{ user.jabber }}</span>
            </div>
          </div>
          </div>
    </mat-card-content>
  </mat-card>
</a>
