<mat-nav-list>
      <a mat-list-item (click)="menuCollapse()" routerLink="/app/dashboard" routerLinkActive="active">
          <mat-icon matListIcon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item (click)="menuCollapse()" routerLink="/app/users" routerLinkActive="active">
          <mat-icon matListIcon>people</mat-icon> Users
      </a>
      <mat-divider></mat-divider>

      <h2 matSubheader>Organisationen</h2>

      <a mat-list-item (click)="menuCollapse()" routerLink="/app/collectives" routerLinkActive="active">
          <mat-icon matListIcon>people_outline</mat-icon> Kollektive
      </a>
      <a mat-list-item (click)="menuCollapse()" routerLink="/app/legal-orgas" routerLinkActive="active">
          <mat-icon matListIcon>business</mat-icon> Rechtsformen
      </a>
      <a mat-list-item (click)="menuCollapse()" routerLink="/app/projects" routerLinkActive="active">
          <mat-icon matListIcon>list_alt</mat-icon> Projekte
      </a>

      <app-plugin-slot name="navigation"></app-plugin-slot>
</mat-nav-list>
