<a [routerLink]="['/app', type, slugify(organisation.name)]" class="orga-entry">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title class="list-group-item-heading">{{ organisation.name }}</mat-card-title>
      <mat-card-subtitle>
        <i>{{ organisation.description }}</i>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="orga-entry__content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2rem">
      <div fxLayout="column" fxFlex.gt-xs="50" fxLayoutGap="1rem">
        <div class="contact-box">
          <p><b>Kontakt:</b></p>
          <p class="contact-entry"> Email: <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a></p>
          <p class="contact-entry" *ngIf="organisation.phone"> Telefon: {{ organisation.phone }}</p>
          <p class="contact-entry" *ngIf="organisation.fax"> Fax: {{ organisation.fax }}</p>
        </div>
        <div class="membership-box">
          <p><i class="fa fa-users fa-lg"></i> Mitglieder: </p>
          <p>
            <span *ngFor="let user of members">
              <a [routerLink]="['/app/users', user.username]" class="member-entry">{{ user.username }}</a>
              <span style="font-size: x-large">&nbsp;</span>
            </span>
          </p>
        </div>
      </div>
      <div fxFlex.gt-xs="50" fxLayout="column">
        <div class="contact-box">
          <p><b>Admin:</b></p>
          <a [routerLink]="['/app/users', admin.username]" class="contact-entry">{{ admin.username }}</a>
        </div>
        <div *ngIf="organisation.street" class="contact-box">
          <p><b>Anschrift:</b></p>
          <p class="contact-entry">{{ organisation.name }}</p>
          <p class="contact-entry">{{ organisation.street }}</p>
          <p class="contact-entry">{{ organisation.plz }} {{ organisation.city }}</p>
        </div>
        <div *ngIf="organisation.legal_form" class="contact-box">
          <p><b>Rechtliche Informationen:</b></p>
          <p class="contact-entry">Rechtsform: {{ organisation.legal_form }}</p>
          <p class="contact-entry">Steuernummer: {{ organisation.tax_id }}</p>
          <p *ngIf="organisation.ust_id" class="contact-entry">Umsatzsteuernummer: {{ organisation.ust_id }}</p>
        </div>
        <div *ngIf="organisation.iban" class="contact-box">
          <p><b>Konto:</b></p>
          <p class="contact-entry">IBAN: {{ organisation.iban }}</p>
        </div>
      </div>
    </div>
  </mat-card>
</a>
