<div fxLayout="column" fxLayoutGap="1rem" fxFlex>

  <div fxLayout="row" fxFlex>
    <h2 *ngIf="!editMode.name" class="list-group-item-heading">{{ project.name }} <button mat-icon-button
        *ngIf="isAdmin" (click)="editMode.name = !editMode.name">
        <mat-icon>edit</mat-icon>
      </button>
    </h2>
    <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)" [control]="'name'"
      [(formGroup)]="projectForm" [editMode]="editMode" [type]="'text'" [label]="'Name'"></lib-std-form-control>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
    <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayoutGap="1rem">
      <div *ngIf="!editMode.description" class="list-group-item-text"><i>{{ project.description }}</i>
        <button mat-icon-button *ngIf="isAdmin" (click)="editMode.description = !editMode.description">
          <mat-icon>edit</mat-icon>
        </button></div>
      <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
        [control]="'description'" [(formGroup)]="projectForm" [editMode]="editMode" [type]="'textarea'"
        [label]="'Beschreibung:'"></lib-std-form-control>
    </div>

    <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayoutGap="1rem">
      <div class="contact-box">
        <p><b>Kontakt:</b></p>
        <p *ngIf="!editMode.email" class="contact-entry"> Email: <a href="mailto:{{ project.email }}">{{
        project.email }}</a> <button mat-icon-button *ngIf="isAdmin" (click)="editMode.email = !editMode.email">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'email'" [(formGroup)]="projectForm" [editMode]="editMode" [type]="'text'" [label]="'Email:'">
        </lib-std-form-control>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
    <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayoutGap="1rem">
      <div class="membership-box">
        <p>
          <mat-icon>people</mat-icon> Mitglieder:
        </p>
        <p *ngIf="!editMode.members">
          <span *ngFor="let user of members">
            <a [routerLink]="['/app/users', user.username]" class="member-entry">{{ user.username }}</a>
            <span style="font-size: x-large">&nbsp;</span>
          </span> <button mat-icon-button *ngIf="isAdmin" (click)="editMode.members = !editMode.members">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'members'" [(formGroup)]="projectForm" [editMode]="editMode" [type]="'tag-input'"
          [tiNgModel]="tagInputMembers" (tiNgModelChangeEvent)="setTagInputMembers($event)"
          [tiAutocompleteItems]="tagInputItems"></lib-std-form-control>
      </div>
    </div>

    <div fxFlex.xs="100" fxFlex.gt-xs="50" fxLayoutGap="1rem">
      <div class="contact-box">
        <p><b>Admin:</b></p>
        <p *ngIf="!editMode.orga_admin"><a [routerLink]="['/app/users', admin.username]" class="contact-entry">{{
        admin.username }}</a> <button mat-icon-button *ngIf="isAdmin"
            (click)="editMode.orga_admin = !editMode.orga_admin">
            <mat-icon>edit</mat-icon>
          </button></p>
        <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)"
          [control]="'orga_admin'" [(formGroup)]="projectForm" [editMode]="editMode" [type]="'tag-input'"
          [tiNgModel]="tagInputAdmin" (tiNgModelChangeEvent)="setTagInputAdmin($event)"
          [tiAutocompleteItems]="tagInputItems" [tiMaxItems]="1"></lib-std-form-control>
      </div>
      <div>
        <p><b>Projekt abgeschlossen:</b></p>
        <p *ngIf="!editMode.deactivated_timestamp">
        <ng-container *ngIf="project.deactivated_timestamp">
          Ja ({{ project.deactivated_timestamp | date:'longDate' }})
        </ng-container>
        <ng-container *ngIf="!project.deactivated_timestamp">
          Nein
        </ng-container>
        <button mat-icon-button *ngIf="isAdmin"
            (click)="editMode.deactivated_timestamp = !editMode.deactivated_timestamp">
            <mat-icon>edit</mat-icon>
          </button></p>
          <lib-std-form-control (cancelEvent)="resetFormValues($event)" (saveEvent)="setFormValues($event)" [control]="'deactivated_timestamp'"
      [(formGroup)]="projectForm" [editMode]="editMode" type="date" label="Abschlussdatum"></lib-std-form-control>
      </div>
      <div>
                <lib-std-form-control *ngIf="isAdmin" [editMode]="editMode" [type]="'delete'" [label]="this.project.name"
          [control]="'delete'" (saveEvent)="deleteProject()"></lib-std-form-control>
      </div>
    </div>

  </div>
</div>
