<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
  <app-dashboard-tile *ngIf="getCollectives().length > 0 || getLegalOrgas().length > 0" class="orgas-tile">
    <h3>Deine Organisationen</h3>
    <ng-container *ngIf="getCollectives().length > 0">
      <h4>Kollektive</h4>
      <ul>
        <li *ngFor="let collective of getCollectives()">
          <a [routerLink]="['/app', 'collective', slugify(collective.name)]">{{collective.name}}</a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="getLegalOrgas().length > 0">
      <h4>Rechtsformen</h4>
      <ul>
        <li *ngFor="let legalOrga of getLegalOrgas()">
          <a [routerLink]="['/app', 'legal-orga', slugify(legalOrga.name)]">{{legalOrga.name}}</a>
        </li>
      </ul>
    </ng-container>
  </app-dashboard-tile>
  <app-dashboard-tile *ngIf="getProjects().length > 0" class="projects-tile">
    <h3>Deine Projekte</h3>
    <ul>
      <li *ngFor="let project of getActiveProjects()">
        <a [routerLink]="['/app', 'project', slugify(project.name)]">{{project.name}}</a>
      </li>
    </ul>
    <ng-container *ngIf="getDeactiveProjects().length > 0">
      <h4>Abgeschlossen</h4>
      <ul>
        <li *ngFor="let project of getDeactiveProjects()">
          <a [routerLink]="['/app', 'project', slugify(project.name)]">{{project.name}}</a>
        </li>
      </ul>
    </ng-container>
  </app-dashboard-tile>
  <app-dashboard-tile class="stats-tile">
    <h3>Zahlen</h3>
    <ul>
      <li><span class="stats-tile__num">{{users.length}}</span> Benutzer*innen</li>
      <li><span class="stats-tile__num">{{projects.length}}</span> Projekte</li>
      <li><span class="stats-tile__num">{{legalOrgas.length}}</span> Rechtsformen</li>
      <li><span class="stats-tile__num">{{collectives.length}}</span> Kollektive</li>
      <li><span class="stats-tile__num">{{getAverageMembersOfCollectives()}}</span>Ø Mitglieder pro Kollektiv</li>
    </ul>
  </app-dashboard-tile>
  <app-plugin-slot name="dashboard"></app-plugin-slot>
</div>

