<div fxLayout="column" fxLayoutGap="1rem">
  <mat-form-field>
    <input matInput #searchBox (input)="searchChanged(searchBox.value)" placeholder="Suche">
    <mat-icon matSuffix>search</mat-icon>
    <button mat-button color="primary" routerLink="/app/{{ type }}/{{ searchBox.value }}" matSuffix>Erstellen</button>
  </mat-form-field>
  <app-orga-entry *ngFor="let orga of orgas$ | async" [type]="type" [organisation]="orga" [admin]="getAdmin(orga)" [members]="getMembers(orga)"></app-orga-entry>
</div>
