<div fxLayout="column" fxLayoutGap="2rem" fxFlex>
    <h2>Kollektive</h2>
    <app-orga-filtered-list [type]="'collective'" [orgas]="collectives"></app-orga-filtered-list>
    <!--<mat-form-field>-->
      <!--<input matInput #searchBox (input)="searchChanged(searchBox.value)" placeholder="Suche">-->
      <!--<mat-icon matSuffix>search</mat-icon>-->
    <!--</mat-form-field>-->
    <!--<app-orga-entry *ngFor="let collective of collectives$ | async" [type]="'collective'" [organisation]="collective" [admin]="getAdmin(collective)" [members]="getMembers(collective)"></app-orga-entry>-->
</div>
